
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
   background: url("https://images.pexels.com/photos/900106/pexels-photo-900106.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-position : right;
    background-size: cover;
}
.main {
    width: 400px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: #5c5859;
    padding: 0;
    border-radius: 20px;
    box-shadow: 0 5px 50px 0 rgba(0, 0, 0, .5);
    box-shadow: inset 0 -5px 10px 5px rgba(0, 0, 0, .5);
    transform: translate(-50%, -50%) scale(1);
  
}
.textview {
    width: 90%;
    height: 90px;
    position: absolute;
    right: 0;
    left: 0;
    margin: 24px auto 15px auto;
    font-size: 50px;
    text-align: right;
    font-family: 'Segment7Standard';
    font-family: 'Rubik', sans-serif;
    background: #ccccff;
    color: #132105;
    border: none;
    padding: 0 5px 0 0;
    border-radius: 15px;
    overflow-x: scroll;
    box-shadow: inset 0 -5px 10px 2px #6b756a,
                0 5px 10px 0px #3f423f;

}
table {
    position: absolute;
    
    bottom: 0;

    margin: 0 5px 23px 23px;
}
#clean {
    background: #ff1900;
    color: #fff;
    box-shadow: inset 0 5px 10px 0 #ff1900,
                inset 0 -5px 10px 3px #2d1f1fba,
                0 5px 10px 0px #1e211e;
}
#clean:active {
    box-shadow: inset 0 -5px 10px 0 #ff1900,
                inset 0 5px 10px 3px #2d1f1fba,
                0 0px 10px 0px #3f423f00;
}
#img {
    width: 80%;
    height: 80%;
    transform: scale(.9);
}
#plus,
#first {
    height: 164px;
}
#equal,
#second {
    width: 164px;
}
#second {
    background: #baee36;
    color:#b7bac0;
    box-shadow: inset 0 5px 10px 0 #73b8c2, inset 0 -5px 10px 3px #f0f3efbf, 0 5px 10px 0px #1e211e;
}
#second:active {
    box-shadow: inset 0 -5px 10px 0 #a0246f,
                inset 0 5px 10px 3px #2a5a22bf,
                0 0px 10px 0px #3f423f00;
}
.button {
    width: 76px;
    height: 76px;
    font-size: 50px;
    font-weight: 900;
    position: relative;
    left: 0;
    right: 0;
    margin: 4px;
    border: none;
    border-radius: 18px;
    font-family: 'Rubik', sans-serif;
    background: #8edae4;
    color: #a56023;
    box-shadow: inset 0 5px 10px 0 #fff,
                inset 0 -5px 10px 3px #dae71cba,
                0 5px 10px 0px #435743;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main table tr td .button:active {
    box-shadow: inset 0 -5px 10px 0 #fff,
                inset 0 5px 10px 3px #847a7aba,
                0 0px 10px 0px #3f423f00;
}
.inner {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto 0 auto 0;

    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-2.5px);
}
.main table tr td .button .inner:active {
    transform: translateY(2.5px) scale(.98);
}
#copy {
    position: fixed;
    bottom: 2.5px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0 auto 2.5px auto;
    font-size: 20px;
    color: #fff;
    text-shadow: .5px .5px 5px #5c5859;
}
::selection {
    background: transparent;
    color: auto;
}
